
makefile
*.log
*.tcl
*.lis
*.sdc
makefile.*
*.f
*.makefile
*.rs
*.gitkeep
*.setup
timescale.v
*.list
.*
!.gitignore
!.gitkeep
*~
*.swp
Makefile.prj
*.user
*/bdw_work/
*/cachelib/
*/vfastLog/
*/tb_data/
*.arr
*.npy
**/__pycache__
*.fsdb
*.vcd
**/simv*
*.db
*.lef
*.lib
*.mw
csrc/
*.dump
*.setup


*.slo
*.lo
*.o
*.ko
*.bin
*.mem
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.app

verification/tplt/*
verification/uvm_first_step/*
**/cov/
**/stack*/
**/*Log/
**/nLintDB/*
**/nLintLog/*
**/verdiLog/*
**/VerdiLog/*

**/novas.*
**/ucli.key
verification/st/tplt/*
design/**/backend
design/**/nLintLog
design/**/nLintDB
design/**/docs
design/**/fsdb
design/**/log
design/**/nLint
design/**/simfile
design/**/tsk
design/**/makefile
design/**/formality
design/**/makefile_bak
design/**/testbench
verification/ut/soc/lld_axi_master/dut/sim/asic/*
verification/ut/soc/lld_axi_master/dut/wave

verification/ut/systolic/systolic/sim/asic/*
verification/ut/systolic/systolic/wave
verification/ut/systolic/tplt

verification/ut/img2col/img2col/sim/*
verification/ut/img2col/img2col/wave
verification/ut/img2col/tplt

design/**/dc_lib.tcl
design/**/dc.makefile
design/**/dc.tcl
design/**/fm_dct.tcl
design/**/fm_lib.tcl
design/**/fm.makefile
design/**/io.sdc
design/**/makefile.html
design/**/makefile.md
design/**/makefile.pdf
design/**/my_nLint.rs
design/**/paths.tcl
design/**/sc_cfg.tcl
design/**/sc_rpt.tcl
design/**/topfile.func.sdc